.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px 10px 200px));
    grid-template-rows: repeat(3,50px);            
    gap: 10px 100px; 
    background-color: orangered; 
}   
            
.item {
        background: rgb(113, 30, 190);
        color: rgb(36, 163, 121);
}