.container {
  display: grid;
  grid-template-areas: "head head";
  grid-template-areas: "menu main";
  grid-template-areas: "foot foot";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 200px 100px;
}

.item-1 {grid-area: head;background: blue; }
.item-2 {grid-area: menu;background: rgb(208, 255, 0); }
.item-3 {grid-area: main;background: rgb(0, 255, 106); }
.item-4 {grid-area: foot;background: rgb(179, 21, 100); }